<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
	

		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />

		
		<link href="style.css" rel="stylesheet" />

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>

	

	<body ng-app>
		<div class="a">
		
		<h1> HOUSEHOLD DATABASE ANALYSIS </h1>
		</div>

		

		<nav class="{{active}}" ng-click="$event.preventDefault()">

			
			
			<a href="#" class="LITERACY" ng-click="active='LITERACY'">LITERACY</a>
	
			<a href="#" class="POPULATION" ng-click="active='POPULATION'">POPULATION</a>
			<a href="#" class="GDP" ng-click="active='GDP'">GDP</a>
			<a href="#" class="ETHINICITY" ng-click="active='ETHINICITY'">ETHINICITY</a>
	
			<a href="#" class="ECONOMY" ng-click="active='ECONOMY'">ECONOMY</a>
			<a href="#" class="OTHERS" ng-click="active='OTHERS'">OTHERS</a>
		</nav>

		

		<div class="b">
		<p ng-show="active">GRAPH FOR <b>{{active}}</b></p>
		</div>

		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	</body>
</html>
