.tabs md-content {
  background-color: transparent !important; }
  .tabs md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabs md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabs md-content h1:first-child {
    margin-top: 0; }